<!DOCTYPE html>
<html lang="en">
<head>
    <title>Star Wars</title>
	<%- include('../partials/head')-%>
</head>
<body class="container">
	<div class="table-container">	
		<div class="row">	
			<div class="col-md-4">
				<img src="https://cdn.iconscout.com/icon/free/png-512/starwars-5-555964.png" width="350"/>
			</div>
			<div class="col-md-8">
				<!-- Muestra la informacion de un personaje en especifico-->
				<% data.forEach(function(personaje) { %>
					<table>
						<tbody>
							<tr><td>NOMBRE:</td><td><%= personaje.name %></td></tr>
							<tr><td>ESTATURA: </td><td><%= personaje.height %></td></tr>	
							<tr><td>PESO: </td><td><%= personaje.mass %></td></tr>
							<tr><td>COLOR DE CABELLO: </td><td><%= personaje.hair_color %></td></tr>	
							<tr><td>COLOR DE PIEL: </td><td><%= personaje.skin_color %></td></tr>	
							<tr><td>COLOR DE OJOS: </td><td><%= personaje.eye_color %></td></tr>	
							<tr><td>AÑO:</td><td><%= personaje.birth_year %></td></tr>
							<tr><td>GENERO: </td><td><%= personaje.gender %></td></tr>	
							<tr></tr>					
							</tr>
						</tbody>
					</table>
				<% }) %>
			</div>
		</div>
	</div>
</body>
</html>