<meta charset="UTF-8">
<title>Personaje StarWars </title>

<!--se incluye bootstrap para la vista-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Se sobreescriben los estilos de la tabla donde se muestran los personajes-->
<style>
    td:first-child{
        font-weight: bold;
    }
    td{
        padding: 10px;
    }
    .table-container{
        padding: 50px 30px;
        background-color: #CCC;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>